@{
    ViewBag.Title = "Home Page";
	
} 
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/x-r")
<div>
<div class="text-center"> 			
<h4>X	—	S	  管 制 圖</h4>
</dev>
<table class="table table-bordered">
<caption>日期：<text>2019-06-18</text></caption>
   <thead>
      <tr>
         <th>規格</th>
         <th>標準</th>
		 <th>群組數大小</th>
         <th>管   制</th>
		 <th>X    圖</th>
         <th>R	圖</th>
      </tr>
	   </thead>
	  <tr>
	  <td>上限 USL</td>
	  <td>0.90</td>
	  <td>5</td>
	  <td>上限 UCL</td>
	  <td>0.82</td>
	  <td>0.38</td>

	  </tr>
	  <tr>
	  <td>中心限CL</td>
	  <td>0.70<td>
	  <td>總組數</td>
	  <td>0.72</td>
	  <td>0.18</td>

	  </tr>
	  <tr>
	  <td>下限 USL</td>
	  <td>0.50</td>
	  <td>25</td>
	  <td>下限 UCL</td>
	  <td>0.61</td>
	  <td>0.00</td>

	  </tr>
  
</table>
<div class="div_collapse" >
<h3 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#tableOne">
					收起
				</a>
				</h3>
		</div>
<div id="tableOne" class="panel-collapse collapse in" aria-expanded="true">
			<div class="panel-body">
<table  class="table table-bordered">
 <thead>
      <tr>
         <th>序号</th>
         <th>1</th>
		 <th>2</th>
         <th>3</th>
		 <th>4</th>
         <th>5</th>
		  <th>ΣＸ</th>
		   <th>Ｘ</th>
		   <th>R</th>
      </tr>
	   </thead>

</table>
</div>
</div>
</div>
@Scripts.Render("~/bundles/x-r")